asf_search
preffs @ git+https://github.com/d70-t/preffs@main
keras
tensorflow[and-cuda]
tensorflow-graphics
tensorflow-datasets
tensorflow-examples @ git+https://github.com/tensorflow/examples.git@master
